
:root {
    --error-message: red;
    --error-animation: boldAnimation 1s ease-in-out infinite alternate;
}

.error-messages {
    color: var(--error-message);
    animation: var(--error-animation);
}

@keyframes boldAnimation {
    from {
        font-size: 1em;
    }
    to {
        font-size: 1.1em;
    }
}
